<!-- NAVIGATION -->
    <div class="d-flex flex-row bd-highlight mb-3 nav align-self-center justify-content-center">
      <nav>
        <a href="/"><div class="d-inline-flex p-2 bd-highlight nav-item">Home</div></a>
        <a href="/plants/house-plants"><div class="d-inline-flex p-2 bd-highlight nav-item">House Plants</div></a>
        <a href="/plants/herbs"><div class="d-inline-flex p-2 bd-highlight nav-item">Herbs</div></a>
        <div class="dropdown">
          <button class="dropbtn nav-item">Difficulty to Grow</button>
            <div class="dropdown-content">
              <a href="/plants/easy-plants">Easy</a>
              <a href="/plants/moderate-plants">Moderate</a>
              <a href="/plants/hard-plants">Difficult</a>
            </div>
        </div>
        <div class="dropdown nav-item">
          <button class="dropbtn">Sun</button>
            <div class="dropdown-content">
              <a href="/plants/full-sun">Full Sun</a>
              <a href="/plants/partial">Partial Sun/Shade</a>
              <a href="/plants/full-shade">Full Shade</a>
            </div>
        </div>
      </nav>
    </div>
