<!-- NAVIGATION -->
    <div class="d-flex flex-row bd-highlight mb-3 nav align-self-center justify-content-center">
      <nav>
        <a href="/"><div class="d-inline-flex p-2 bd-highlight">Home</div></a>
        <a href="/house-plants"><div class="d-inline-flex p-2 bd-highlight">House Plants</div></a>
        <a href="/herbs"><div class="d-inline-flex p-2 bd-highlight">Herbs</div></a>
        <div class="dropdown">
          <button class="dropbtn">Difficulty to Grow</button>
            <div class="dropdown-content">
              <a href="/easy-plants">Easy</a>
              <a href="/moderate-plants">Moderate</a>
              <a href="/hard-plants">Difficult</a>
            </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Sun</button>
            <div class="dropdown-content">
              <a href="/full-sun">Full Sun</a>
              <a href="/partial">Partial Sun/Shade</a>
              <a href="/full-shade">Full Shade</a>
            </div>
        </div>
      </nav>
    </div>
