<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Plants</title>
  </head>
  <body>
    <h1>All Plants</h1>
    <p>this page will display all the plants as images/names with links to their individula show pages</p>
    <p>this page will have a tag search option</p>
  </body>
</html>
