<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Herbs</title>
  </head>
  <body>
    <h1>Herbs</h1>

    <p>this page will have a tag search option</p>
    <a href="/">Home</a>
    <% for (i=0; i< Plants.length; i++){ %>
      <a href="/house-plants/<%= Plants[i].id%>">
        <h2><%= Plants[i].name %></h2>
        <img src="<%= Plants[i].img %>" alt="<%= Plants[i].name %>">
      </a>
    <% } %>
  </body>
</html>
