<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <h1>Index/Home Page</h1>
    <nav>
      <% if (currentUser) {%>
        <!-- Make a new Admin user -->
        <a href="/users/new">New User</a>
        <!-- Log Out -->
        <form action="/sessions?_method=DELETE" method="POST">
              <input type="submit" value="Logout"/>
        </form>
      <%} else {%>
        <!-- Login -->
        <a href="/sessions/new">Log In</a>
      <% } %>
      <a href="/house-plants">House Plants</a>
    </nav>

  </body>
</html>
