<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
<!-- *****************TEMP STYLE********************** -->
    <style media="screen">
      img{
        max-width: 300px;
      }
    </style>
  </head>
  <body>
    <h1>Index/Home Page</h1>
    <nav>
      <% if (currentUser) {%>

        <!-- Log Out -->
        <form action="/sessions?_method=DELETE" method="POST">
              <input type="submit" value="Logout"/>
        </form>
      <%} else {%>
        <!-- Login -->
        <a href="/sessions/new">Log In</a>
        <!-- Make a new Admin user -->
        <a href="/users/new">New User</a>
      <% } %>
      <a href="/house-plants">House Plants</a>
      <a href="/herbs">Herbs</a>
    </nav>

    <!-- MAIN CONTENT -->
      <% for (i = 0; i < Plants.length; i++){ %>
        <div class="">
          <a href="/house-plants/<%= Plants[i].id%>">
            <h2><%= Plants[i].name %></h2>
            <img src="<%= Plants[i].img %>" alt="<%= Plants[i].name %>">
          </a>
        </div>
      <%}%>
  </body>
</html>
