<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <h1>Index/Home Page</h1>
    <nav>


        <!-- Log Out -->
        <form action="/sessions?_method=DELETE" method="POST">
              <input type="submit" value="Logout"/>
        </form>

        <!-- Login -->
        <a href="/sessions/new">Log In</a>
        <!-- Make a new Admin user -->
        <a href="/users/new">New User</a>
      
      <a href="/house-plants">House Plants</a>
    </nav>

    <!-- MAIN CONTENT -->
    <% console.log(Plants); %>
    <% console.log(Plants[0].name); %>
      <% for (i = 0; i < Plants.length; i++){ %>
        <div class="">
          <a href="/house-plants/<%= Plants[i].id%>">
            <h2><%= Plants[i].name %></h2>
            <img src="<%= Plants[i].img %>" alt="<%= Plants[i].name %>">
          </a>
        </div>
      <%}%>
  </body>
</html>
