<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head_index.ejs %>
  </head>
  <body>
    <div class="container-fluid flex-column justify-content-center">

    <!-- Banner -->
      <% include ../partials/banner.ejs %>

    <!-- NAVIGATION -->
        <% include ../partials/nav.ejs %>

    <!-- MAIN CONTENT -->
      <div class="main-content d-flex flex-row flex-wrap justify-content-center">
        <% for (i = 0; i < Plants.length; i++){ %>
          <div class="subcontent p-2 bd-highlight">
            <a href="/plants/<%= Plants[i].id%>">
              <h2><%= Plants[i].name %></h2>
              <img src="<%= Plants[i].img %>" alt="<%= Plants[i].name %>">
            </a>
          </div>
        <%}%>
      </div>

    <!-- FOOTER -->
      <% include ../partials/footer.ejs %>

    </div>
  </body>
</html>
