<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New</title>
  </head>
  <body>
    <h1>Add a new plant</h1>
    <p>this page will allow you to add a new plant, if you are logged in as an administrator</p>
    <p>contact karolin or jerrica about how to make sure folks can't just type in the address and stumble upon this functionality</p>

    <form class="" action="/house-plants" method="post">
      <input type="text" name="name" placeholder="Name"/>
      <br/>
      <input type="text" name="sciname" placeholder="Scientific Name"/>
      <br/>
      <input type="text" name="diff" placeholder="Difficulty to grow on a scale of 1-5"/>
      <br/>
      <input type="text" name="sun" placeholder="Sunlight"/>
      <br/>
      <input type="text" name="tags" placeholder="Tags"/>
      <br/>
      <textarea placeholder ="Description" name="description" rows="8" cols="80"></textarea>
      <br/>
      <input type="submit" name="submit" value="Create"/>
    </form>

  </body>
</html>
