
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ../partials/head_index.ejs %>
    <!-- favicon -->
    <link rel="shortcut icon" href="https://pics.clipartpng.com/midle/Leaf_PNG_Clip_Art-1968.png" />


    <title>New Plant</title>
  </head>
  <body>
    <!-- <h1>Add a new plant</h1>
    <p>this page will allow you to add a new plant, if you are logged in as an administrator</p>
    <p>contact karolin or jerrica about how to make sure folks can't just type in the address and stumble upon this functionality</p> -->
    <div class="container-fluid">
      <!-- Banner -->
        <% include ../partials/banner.ejs %>
      <!-- NAVIGATION -->
        <% include ../partials/nav.ejs %>

      <!-- MAIN CONTENT -->
    <form class="" action="/plants" method="post">
      <input type="text" name="name" placeholder="Name"/>
      <br/>
      <input type="text" name="sciname" placeholder="Scientific Name"/>
      <br/>
      <input type="text" name="img" placeholder="http://www.someurl.com"/>
      <br>
      <input type="text" name="diff" placeholder="Difficulty to grow on a scale of 1-5"/>
      <br/>
      <input type="text" name="sun" placeholder="Sunlight"/>
      <br/>
      <input type="text" name="tags" placeholder="Tags"/>
      <br/>
      Poisonous to Pets: <input type="checkbox" name="" value="">
      <br>
      <input type="text" name="description" placeholder="description">
      <br/>
      <input type="submit" name="submit" value="Create"/>
    </form>
  </div>
  <!-- FOOTER -->
    <% include ../partials/footer.ejs %>

  </body>
</html>
