<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New</title>
  </head>
  <body>
    <h1>Add a new plant</h1>
    <p>this page will allow you to add a new plant, if you are logged in as an administrator</p>
    <p>contact karolin or jerrica about how to make sure folks can't just type in the address and stumble upon this functionality</p>
  </body>
</html>
