<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show</title>
  </head>
  <body>
    <h1>Display specific plant</h1>
  <p>  this page will display an individual plant image, its name, and information.</p>
  <p>stretch goal is a buy button and a shopping cart?</p>
  </body>
</html>
