<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ../../partials/head_index.ejs %>
    <title>Sign In</title>
  </head>
  <body>


    <div class="container-fluid">
      <!-- Banner -->
        <% include ../../partials/banner.ejs %>
      <!-- NAVIGATION -->
        <% include ../../partials/nav.ejs %>

      <form class="" action="/sessions" method="post">
        <h3>Log in: </h3>
        <input type="text" name="username" placeholder="username" class="sign_in">
        <input type="password" name="password" class="sign_in">
        <input type="submit" name="submit" value="Log In" class="sign_in">
      </form>
    </div>

  </body>
</html>
